.add-contact-form-container {
    padding: 10px;
    background-color: rgb(46, 47, 47);
    margin: 10px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

.add-contact-form-container h3 {
    margin-top: 0;
    color: #FAFAFA;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-contact-form-container input {
    width: 100%;
    padding: 8px;
    background-color: rgb(29, 31, 31);
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.add-contact-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.add-contact-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-contact-btn-cancel {
    background-color: transparent;
    color: #ccc;
    border: 1px solid #555;
}

.add-contact-btn-confirm {
    background-color: var(--primary-color, #008069);
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}