.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #FAFAFA;
}

.loading-screen__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 360px;
}

.loading-screen__logo {
    margin-bottom: 40px;
    opacity: 0.8;
}

.loading-screen__progress {
    width: 100%;
    height: 3px;
    background-color: #2E2F2F;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
}

.loading-screen__progress-bar {
    width: 0%;
    height: 100%;
    background-color: #00a884;
    animation: loading-progress 2s infinite;
}

.loading-screen__title {
    font-size: 14px;
    color: #FAFAFA;
    margin-bottom: 40px;
    font-weight: 500;
}

.loading-screen__footer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #FAFAFA;
    position: absolute;
    bottom: 40px;
}

/* animacion de la barra de progreso en el inicio de la app */
@keyframes loading-progress {
    0% {
        width: 0%;
        transform: translateX(0);
    }

    50% {
        width: 70%;
        transform: translateX(20%);
    }

    100% {
        width: 100%;
        transform: translateX(100%);
    }
}