.section_SectionFirstView {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22,23,23);
}
.section_SectionFirstView--content {
    background-color: rgb(29,31,31);
    border-radius: 15%;
    padding: 10%;
    margin: 22%;
    text-align: center;
}
.section_SectionFirstView--content h2 {
    color: #FAFAFA;
    font-size: 22px;
}
.section_SectionFirstView--content p {
    color: #FAFAFA;
    font-size: 16px;
}
.section_SectionFirstView {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    background-color: rgb(22,23,23);
}
