.section_SectionFirstView {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1;
    background-color: rgb(22, 23, 23);
    overflow: hidden;
}

.section_SectionFirstView--content {
    background-color: rgb(29, 31, 31);
    border-radius: 15%;
    padding: 15%;
    margin: 15%;
    text-align: center;
}

.section_SectionFirstView--content--title {
    color: #FAFAFA;
    font-size: 22px;
    padding-bottom: 4%;
}

.section_SectionFirstView--content--paragraph {
    color: #FAFAFA;
    font-size: 16px;
    padding-bottom: 2%;
}

.section_SectionFirstView--content--addcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_SectionFirstView--content--addcontact--svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    padding: 15%;
    margin-bottom: 10px;
    background-color: rgb(29, 31, 31);
    border: none;
    cursor: pointer;
}

.section_SectionFirstView--content--addcontact--svg:hover {
    background-color: rgb(22, 23, 23);
}

.section_SectionFirstView--content--addcontact--svg svg {
    width: 20px;
    height: 20px;
    fill: #FAFAFA;
    min-width: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.section_SectionFirstView--content--button {
    color: #667781;
    padding: 6px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: none;
    margin-bottom: 20px;
}