.MessagesScreens_App--container {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

.MessagesScreens_App--loading {
    background-color: rgb(29, 31, 31);
}

.MessagesScreens_App--container--section_messages {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .MessagesScreens_App--container .contactsidebar_App--container {
        display: none;
    }

    .MessagesScreens_App--container--section_messages {
        width: 100%;
        display: block;
    }
}