.AddNewMessages-form {
    background-color: rgb(36, 38, 38);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(22, 23, 24);
}

.AddNewMessages-input {
    flex: 1;
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid rgb(36, 38, 38);
    background-color: rgb(22, 23, 23);
    font-size: 15px;
    outline: none;
    color: #FAFAFA;
}

.AddNewMessages-input:focus {
    border-color: #FAFAFA;
}

.AddNewMessages-btn {
    background-color: transparent;
    border: none;
    color: #FAFAFA;
    cursor: pointer;
    padding: 8px;
}

.AddNewMessages-btn:hover {
    color: rgb(20, 77, 55);
}