.contactsidebar_App--container {
    background-color: rgb(29, 31, 31);
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section_archived_contactsidebar--icons {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background-color: rgb(29, 31, 31);
    color: #FAFAFA;
    gap: 20px;
    cursor: pointer;
}

.section_archived_contactsidebar--icons:hover {
    background-color: rgb(46, 47, 47);
}

.section_archived_contactsidebar--icons svg {
    width: 20px;
    height: 20px;
    fill: #FAFAFA;
}

.section_archived_contactsidebar--content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.section_archived_contactsidebar--contentText {
    font-size: 17px;
    color: #FAFAFA;
    font-weight: 500;
    margin: 0;
}

.section_archived_contactsidebar--contentNumber {
    font-size: 13px;
    color: #00a884;
    font-weight: 400;
    margin: 0;
}