.SectionChatsMessages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 23, 23);
}

.SectionChatsMessages-header {
    background-color: rgb(22, 23, 23);
    padding: 10px 16px;
    height: 60px;
    border-bottom: 1px solid rgb(22, 23, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.SectionChatsMessages-header-info {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.SectionChatsMessages-header-actions-button,
.SectionChatsMessages-header-actions__btn-goback {
    border: none;
    background: none;
    color: #FAFAFA;
    margin-left: 15px;
    cursor: pointer;
}

.SectionChatsMessages-header-actions__btn-goback {
    display: none;
}

.SectionChatsMessages-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.SectionChatsMessages-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SectionChatsMessages-title {
    margin: 0;
    font-size: 16px;
    color: #FAFAFA;
    font-weight: 500;
    line-height: normal;
}

.SectionChatsMessages-status {
    font-size: 13px;
    color: #667781;
    margin-top: 2px;
}

.SectionChatsMessages-header-actions {
    display: flex;
    gap: 20px;
    color: #FAFAFA;
    cursor: pointer;
}

.SectionChatsMessages-header-actions svg {
    cursor: pointer;
}

.SectionChatsMessages-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .SectionChatsMessages-header-actions__btn-goback {
        display: block;
    }
}