.chatScreens_App--container {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

@media (max-width: 768px) {
    .section_SectionFirstView {
        display: none;
    }
}