.chatScreens_App--container {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

.chatScreens_AddContactForm--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(22, 23, 23);
    padding: 20px;
}

.chatScreens_AddContactForm--wrapper .add-contact-form-container {
    max-width: 500px;
    width: 100%;
}

@media (max-width: 768px) {
    .section_SectionFirstView {
        display: none;
    }
}