.HeaderSideBar--app-container{
    display: flex;
}
.header_HeaderSideBar {
    width: 60px; 
    min-width: 60px; 
    height: 100%; 
    background-color:rgb(46,47,47);
    border-right: 1px solid rgb(171,172,172);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    box-sizing: border-box;
}
.header_HeaderSideBar--button_icons{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
}
.header_HeaderSideBar--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}