aside {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.contact-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow-y: auto;
    height: calc(100% - 150px);
}
.contact-item{
    color: black;
    position: relative;
}

.contactlist_Contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(29,31,31); 
    color: #FAFAFA;
    flex-grow: 1;
    overflow-y: auto; 

}
.contact-item {
    display: flex;
    align-items: center; 
    padding: 10px 15px;
    text-decoration: none; 
    width: 100%;
    box-sizing: border-box;
}

.contact-item:hover {
    background-color: rgb(46,47,47);
}

.contact-info{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 12px;
}

.contact-last-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    font-size: 13px;
    min-width: 60px;
}
.contact-avatar {
    width: 49px; 
    height: 49px;
    border-radius: 50%; 
}

.contact-name{
    font-size: 17px;
    font-weight: 500; 
    margin-bottom: 2px;
    margin: 0;
    color: #FAFAFA;
}

.name-and-message-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    min-width: 0; 
}
.contact-last-message-content {
    font-size: 14px;
    color: #8696a0;
    white-space: nowrap; 
    overflow: hidden;
    /* Agrega text-overflow: ellipsis para mostrar ... cuando el texto se corta */
    text-overflow: ellipsis; 
    flex-direction: column; 
    align-items: center;
}
.contact-name, .contact-last-message-content {
    margin: 0;
}

.contact-unseen-messages {
    background-color: #00a884; 
    color: #111b21; 
    min-width: 22px; 
    height: 22px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px; 
    font-weight: bold;
    padding: 1px; 
    margin-top: 0; 
}




