.MassagesScreens_App--container{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}
.MassagesScreens_App--loading{
    background-color:rgb(29,31,31) ;
}