.contactsearchform_ContactSearchForm{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(29, 31, 31); 
    padding: 0 15px 10px 1px;
}
.header_contactsearchform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
.header_contactsearchform h1{
    color: #FAFAFA;
    font-size: 22px;
}
.header_contactsearchform--button_icons{
    border: none;
    background: none;
    color: #FAFAFA;
    margin-left: 15px;
}
.searchbar {
    width: 100%; 
    padding: 0; 
    margin: 0; 
    border-radius: 0;
    border: none;
    background-color: transparent; 
    color: #FAFAFA; 
    font-size: 13px;
    outline: none;
}
.searchbar_contactsearchform {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    background-color: rgb(46, 47, 47); 
    border-radius: 10px; 
    padding: 8px 12px; 
    margin: 2px 0; 
    width: auto; 
}
.searchbar_contactsearchform svg {
    width: 15px; 
    height: 15px;
    fill: #FAFAFA; 
}

.filter_buttons{
    display: flex;
    justify-content: space-around;
    background-color: rgb(29,31,31);
    padding: 2px 0px;
}
.filter_buttons button{
    border: none;
    background-color: rgb(46,47,47);
    color: #FAFAFA;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}